<%
=begin
%>
<p id="notice"><%= notice %></p>
<%
=end
%>

<h1>Feeds</h1>


<%= link_to '写真を投稿する', new_feed_path, class: "btn btn-success"%><br>

<br>
<div class="alert alert-warning" role="alert">みんなの投稿一覧</div>
<table border="1" align="center">
  <thead>
    <tr>
      <th>投稿者</th>
      <th>投稿写真</th>
      <th>内容</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.user.name %></td>
        <td class="img"><%= image_tag(feed.image.url) if feed.image.present? %></td>
        <td><%= feed.content %></td>
        <td><%= link_to 'Show', feed, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>


