<h1>お気に入り一覧</h1>

<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>投稿者</th>
      <th>画像</th>
      <th>投稿内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
        <td><%= favorite.feed.title %></td>
        <td><%= favorite.feed.user.name %></td>
        <td><%= favorite.feed.image %></td>
        <td><%= favorite.feed.content %></td>
        <td><%= link_to 'Show', feed %></td>
        <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
        <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New feed', new_feed_path %>