<div class="container">
</div>
<%= form_with(model: user, local: true) do |form| %>
  
<table>
  <thead>
   <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </thead>
  <tbody>
    <tr><td><%= form.label :name %></td><td><%= form.text_field :name %></td></tr>
    <tr><td><%= form.label :email %></td><td><%= form.text_field :email %></td></tr>
    <tr><td><%= form.label :password %></td><td><%= form.text_field :password %></td></tr>
    <tr><td><%= form.label :user_image %></td><td><%= form.file_field :user_image  %></td></tr>
  </tbody>
</table>
<%= form.submit "test" %>
 <% end %>